{% load static %}
<!-- load in static files for access from ./static -->
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Google fonts import following SU style guide -->
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700|Playfair+Display" rel="stylesheet">

  <!-- Bootstrap & custom CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" >
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  <title>CS Capstone 2019: Volunteer Database</title>

</head>

<body>
  <!-- Navbar -->
  <div id="nav" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-bold"> <a href="{% url 'index' %}">Voluntunity</a> </h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="btn btn-outline-secondary" href="{% url 'results' %}">BROWSE</a>
      <a class="p-2 text-dark" href="#" id="howToButton">HOW TO</a> <!-- use AJAX to load in about page? use pop-up? -->
      <a class="p-2 text-dark" href=https://www.southwestern.edu/community-engaged-learning/ target="_blank">CONTACT US</a>
      <a class="p-2 text-dark" href="{% url 'admin:index' %}">ADMIN LOGIN</a>
    </nav>
  </div>

  <!-- Dynamic content block: loads index.html and results.html-->
  {% block content %}
  {% endblock %}

  <!-- JavaScript plugins for BootStrap -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!-- Google Maps API || NOTE: HIDE API KEY BEFORE PUSHING PRODUCTION CODE -->
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXKsysbYwfZ89T85u9Na24a0wlUMG7Txg&callback=initMap">
  </script>

  <!-- Load in custom main.js file-->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  <script type="text/javascript" src="{% static "js/main.js" %}"></script>
</body>

</html>