{% extends 'base.html' %}
{% block content %}

<!-- Landing Page -->
<div id="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Welcome to Voluntunity</h1>
      <p class="lead text-muted">A tool for locating nonprofit and volunteer organizations
        in the Williamson County, Texas area and beyond.</p>

      <!-- Django form for category and location -->
      <form action="{% url 'results' %}" method="POST">
        <div class="form-group">
          {% csrf_token %}
          {{ indexForm }}
        </div>
        <button type="submit" class="fill" name="landingPageSearch"><span>SEARCH</span></button>
      </form>

    </div>
  </section>
</div>

{% endblock %}