{% extends 'results.html' %}
{% block organizationCards %}
  <!-- display search criteria from previous search -->
  <span id="resultsBadges">
    {% if category == None %}
      <span class="col-sm-12 col-md-3 display-results">Any Category</span>
    {% else %}
      <span class="col-sm-12 col-md-3 display-results"><strong>Category:</strong> {{ category }}</span>
    {% endif %}
    {% if location != None %}
      <span class="col-sm-12 col-md-3 display-results">{{ location }}</span>
    {% endif %}
  </span>

    <!-- for each organization/address tuple in resultsWithAddresses (see views.py) -->
    {% comment %} {% for organization, address in resultsWithAddresses %}
    <div class="card result">
      <div class="card-body">
        <h5 class="card-title"><strong>{{ organization.name }}</strong></h5>
        <h6 class="card-subtitle mb-2 text-muted"> {{ organization.Location }}</h6>
        <p class="card-text"> Mission: {{ organization.mission }}</p>
        <p class="card-text"> Address: {{ address.street }} {{ address.city }}, {{ address.state }} {{ address.zipCode}}</p>
        <a href="{{ organization.website }}" class="" target="_blank">Website</a>
      </div>
    </div> {% endcomment %}
  <!-- Render cards without addresses: -->
{% for organization in results %}
  <div class="card result">
    <div class="card-body">
      <h5 class="card-title"><strong>{{ organization.name }}</strong></h5>
      <h6 class="card-subtitle mb-2 text-muted"> 
        {% comment %} <span class="col-sm-12 col-md-3 display-results">{{ organization.category }}</span>
        <span class="col-sm-12 col-md-3 display-results">{{ organization.location }}</span> {% endcomment %}
      </h6>
      <p class="card-text"> <b>Mission:</b> {{ organization.mission }}</p>

    {% comment %} moar comments yay {% endcomment %}
     {% comment %} {{ Book.objects.filter(author__isnull=True). }}  {% endcomment %}

      {% if organization.opportunities == "." %} 
      {% comment %} <p class="card-opp"> <b>MEMES:</b> {{ organization.opportunities }}</p> {% endcomment %}
      {% else %}
      <p class="card-opp"> <b>Volunteering Opportunities:</b> {{ organization.opportunities }}</p>

      {% endif %}
      {% comment %} TODO:  if it's . don't display website {% endcomment %}
      {% comment %} {{ print(organization.opportunities) }} {% endcomment %}
      {% if organization.website == '.' %}

      {% else %}
      <a href="{{ organization.website }}" class="website_link" target="_blank"><button type="button" class="fill">Website</button></a>
      {% endif %}

    </div>
  </div> 


  {% empty %} <!-- results QuerySet is empty -->
  <div class="card result">
    <div class="card-body">
      <h5 class="card-title"><strong>No organizations found</strong></h5>
      <p class="card-text"> Refine your search above </p>
    </div>
  </div>

  {% endfor %}

  {% comment %} 
  Print out addresses found in Addresses
  {% for address in addresses %}
    <p>{{ address.street }} </p>
  {% endfor %} {% endcomment %}

{% endblock %}
