{% extends 'results.html' %}
{% block organizationCards %}
  <!-- display search criteria from previous search -->
  <span id="resultsBadges">
    {% if category == None %}
      <span class="col-sm-12 col-md-5 display-results">Any Category</span>
    {% else %}
      <span class="col-sm-12 col-md-5 display-results"><strong>Category:</strong> {{ category }}</span>
    {% endif %}
    {% if location != None %}
      <span class="col-sm-12 col-md-5 display-results"><strong>In </strong>{{ location }}</span>
    {% else %}
      <span class="col-sm-12 col-md-5 display-results">Any Location</span>
    {% endif %}
  </span>

  <!-- Render cards without addresses: -->
{% for organization in results %}
  <div class="card result">
    <div class="card-body">
      <h5 class="card-title"><strong>{{ organization.name }}</strong></h5>
      <h6 class="card-subtitle mb-2 text-muted"> 
        {% comment %} <span class="col-sm-12 col-md-3 display-results">{{ organization.category }}</span>
        <span class="col-sm-12 col-md-3 display-results">{{ organization.location }}</span> {% endcomment %}
      </h6>
      <p class="card-text"> <b>Mission:</b> {{ organization.mission }}</p>

      {% if organization.opportunities == "." or organization.opportunites == '' %} 
       <p class="card-opp"> <b>Volunteering Opportunities:</b> N/A</p>
      {% else %}
      <p class="card-opp"> <b>Volunteering Opportunities:</b> {{ organization.opportunities }}</p>

      {% endif %}
      {% comment %} TODO:  if it's . don't display website {% endcomment %}
      {% comment %} {{ print(organization.opportunities) }} {% endcomment %}
      {% if organization.website == '.' %}

      {% else %}
      <a href="{{ organization.website }}" class="website_link" target="_blank"><button type="button" class="fill">Website</button></a>
      {% endif %}
      <!-- <p class="card-opp"> {{ organization.orgID }}</p>
      <p class="card-opp"> start {{ json_data }} end</p> -->
      <button type="button" class="fill mapMarkerToggle" onClick="addOrganizationPin( {{ organization.orgID }}, {{ json_data }} )">Show on Map</button>
      <!-- <button type="button" class="fill mapMarkerToggle" onClick="addOrganizationPin( {{ jason_data }} )">Show on Map</button> -->
    </div>
  </div> 


  {% empty %} <!-- results QuerySet is empty -->
  <div class="card result">
    <div class="card-body">
      <h5 class="card-title"><strong>No organizations found</strong></h5>
      <p class="card-text"> Refine your search above </p>
    </div>
  </div>

  {% endfor %}

{% endblock %}
